@import "scss/bootstrap";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.grey-line {
  background-color: #8c8c8c;
  height: 7px;
}
.icons-container {
    margin-top: 6rem;
  .icon {
    transition: color 2s ease-in-out;
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 1.5rem;
    box-shadow: 0px 2px 3px #888888;
    border-radius: 3px;
    &:hover{
        background-color:  #cccccc;
    }
    a {
      text-decoration: none;
      color: #404040;
    }
    
  }
}
.boxshadow{
   box-shadow: -13px 14px 0 13px red;
}
.image {
  border-top-right-radius: 20px;
}